.nav {
  color:#ffffff;
  background-color:#508263;
  text-align: center;
  text-decoration:none;
  font-size: 1em;
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  align-content:space-around;
  justify-content:space-around;
}

.about{
  order:4;
  margin:10px;
  min-width: 200px;
}

.github{
  order:3;
  margin:10px;
    min-width: 200px;
}
.wordpress{
  order:2;
    margin:10px;
      min-width: 200px;
}
.instagram{
  order:1;
    margin:10px;
      min-width: 200px;
}

.main{
	display: flex;
  align-items:flex-start;
  align-content:space-around;
  justify-content:space-around;
  flex-wrap: wrap;

}

.aboutmeimg{
  order:1;
  min-width:200px;
  padding:20px;
}

.aboutme{
  order:2;
  padding:20px;
  min-width: 300px;
  max-width: 700px;

}
