#header{
  display:flex;
justify-content:center;
}

.nav ul{
  display: none;
}

.aboutmeimg .caption{
  display: none;
}


@media screen and (min-width:450px){
  .nav ul{
    display:flex;
    flex-flow:row;
    justify-content: space-around;
  }

  .nav li{
      border-top:0px;
      padding: 3px;
  }
  #header #name{
    font-size: 2.5em;
  }
  .menu-trigger {
  display:none;
}
  h1{
    font-size: 2.5em;
  }
  .container{
    padding-left:30px;
    padding-right:30px;
  }
  .aboutmeimg img{
    width:35%;
  }
  .aboutmeimg .caption{
    display: block;
  }
}

@media screen and (min-width:800px){
  .container{width:80%;
}
.article{
  display: grid;
  grid-template-columns:200px 1fr 1fr;
  grid-gap:30px;
  grid-template-areas:
  "a b b"
  "c c d"
}

.aboutmeimg{
  grid-area:a;
}
.aboutmeimg img{
  width:100%;
}

.section1{
  grid-area:b;
}

.section2{
  grid-area:c;
}

.pullquote{
  grid-area:d;
}

.section1 p:first-of-type, .section2 p:first-of-type{
  margin-top:0;
}

}


@media screen and (min-width:1000px){
  .article{
    display: grid;
    grid-template-columns:200px 1fr 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "a b b d"
    "c c c d"
  }

  .container{
    padding-left:50px;
    padding-right:50px;
}

  .aboutmeimg img{
    width:90%;
    padding-top: 0;
  }


}
