body{
  background-image:url("img/wallpaper.jpg");
  background-position:center;
}

html{font-size:100%;}

P {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family:'Raleway', Arial, sans-serif;

}

.italic {font-style:italic;}

h1, h2, h3, h4, h5, h6 {
  font-family:"Amiri", "Times New Roman", Arial, serif;
  font-weight:700;
}

h1 {
  font-size: 1.8em;
}

h2{}

.container{
  background: rgba(255,255,255,0.90);
  color: #000;
  margin:0 auto;
  padding-left: 10px;
  padding-right: 10px;
}


#name{
  color:#2E704C;
  text-shadow: 2px 2px #E5DAD9;
  text-align: center;
  font-family: 'Amiri', "Times New Roman", Georgia, serif;
  font-weight:700;
  font-size: 1.8em;
}

/*#email{
  color: #676F6A;
  text-align:center;
  font-family: 'Amiri', "Times New Roman", Georgia, serif;
  font-size: 1em;
  margin:0 auto;
}*/


.nav ul{
    padding:10px;
    background-color:#508263;
    border-radius: 2px;
    list-style: none;
}


.nav a:link, a:visited{
    color:#ffffff;
    text-decoration:none;
    font-size: 1em;
    text-align: center;
  }

.nav a:hover, #nav a:active{
  background-color: #2E704C;
  padding:10px;

  }

  .nav li{
    text-align:center;
  }

.pullquote{
  font-weight:bold;
  font-style: italic;
}


.caption{
  color:#898989;
  font-size:0.8rem;
  margin-top: 2px;
  font-style:italic;
  text-align: left;
}

#footer{
  color:#898989;
  font-size: 0.8em;
  border-top:0.5px solid #676F6A;

}



/*color scheme
  #898989 Grey
  #
#508263 Green
#2E704C Deep green
#E5DAC9 Light green
#E8EA60 Yellow
*/
