body{
  background-image:url("img/wallpaper.jpg");
  background-position:center;
}

html{font-size:100%;}

P {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family:'Raleway', Arial, sans-serif;

}

.italic {font-style:italic;}

h1, h2, h3, h4, h5, h6 {
  font-family:"Amiri", "Times New Roman", Arial, serif;
  font-weight:700;
}

h1 {
  font-size: 2.5rem;
}

h2{}

.container{
  width:95%;
  background: rgba(255,255,255,0.90);
  color: #000;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#name{
  color:#2E704C;
  text-shadow: 2px 2px #E5DAD9;
  text-align: center;
  font-family: 'Amiri', "Times New Roman", Georgia, serif;
  font-weight:700;
  font-size: 2.5em;
}

#email{
  color: #676F6A;
  text-align:center;
  font-family: 'Amiri', "Times New Roman", Georgia, serif;
  font-size: 1em;
  margin:0 auto;
}



.nav a:link, a:visited{
    color:#ffffff;
    background-color:#508263;
    text-align: center;
    text-decoration:none;
    border-radius: 2px;
    font-size: 1em;
  }

.nav a:hover, #nav a:active{
    background-color: #2E704C;
  }

.nav{
  padding:0 auto;
}

.caption{
  color:#898989;
  font-size:0.8rem;
  margin-top: 0;
  font-style:italic;
  text-align: right;
}

#footer{
  color:#898989;
  font-size: 0.8em;
  border-top:0.5px solid #676F6A;

}

img{
  border-style:none;
}

canvas
{border: 1 dotted black;}

audio {width:1000px;}

video {padding:10px
border:1px solid:#ddd;
background-color: white;
-webkit-transform:rotate(-5deg);
-webkit-shadow:
}

@media (min-width:800px){#nav{flex-flow:row; justify-content: flex-end;}}


/*color scheme
  #898989 Grey
  #
#508263 Green
#2E704C Deep green
#E5DAC9 Light green
#E8EA60 Yellow
*/
